.loader {
  position: relative;
  margin: 0 auto;
  width: 40%;
}

.loader:before {
  content: '';
  padding-top: 100%;
  display: block;
}

.loader__animated {
  clip-path: inset(100% 0 0 0);
  animation: loader 3s ease-in infinite;
}

.loader img {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes loader {
  0% {
    clip-path: inset(100% 0 0 0);
  }

  50% {
    clip-path: inset(0 0 0 0);
  }

  100% {
    clip-path: inset(100% 0 0 0 0);
  }
}
